{% extends "_base.html" %}

{% block title %}Customer Segmentation Dashboard{% endblock %}

{% block content %}
<div class="dashboard-container">

    <div class="row">
        <div class="col-lg-5">
            {% include '_upload_form.html' %}
            {% include '_training_trigger.html' %}
        </div>
        <div class="col-lg-7">
            <div id="insights-section-container">
                {% include '_insights_section.html' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="visualizations-section-container">
                 {% include '_visualizations_section.html' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="recommendations-section-container">
                {% include '_recommendations_section.html' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="results-section-container">
                {% include '_results_section.html' %}
            </div>
        </div>
    </div>

</div>
{% endblock %}